<footer id="footer">
    <h2 style="font-size:72px">Olivia</h2>
    <div style="display:flex">
        <div id="left">
            <h2>Sign Up</h2>
            <form action="#" method="post" style="max-width:90%;margin-left:5%;margin-right:5%">

                <div class="field half first">
                    <label for="text">Username</label>
                    <input name="usernada" id="text" type="text" placeholder="Username">
                </div>
                <div class="field half">
                    <label for="password">Password</label>
                    <input name="password" id="password" type="password" placeholder="Password">
                </div>
                <div class="field half first">
                    <label for="name">Name</label>
                    <input name="name" id="name" type="text" placeholder="Name">
                </div>
                <div class="field half">
                    <label for="email">Email</label>
                    <input name="email" id="email" type="email" placeholder="Email">
                </div>
                <ul class="actions">
                    <li><input value="Register" class="button alt" type="submit"></li>
                </ul>
            </form>
        </div>
        <div id="right">
            <h2>Sign In</h2>
            <form action="#" method="post" style="max-width:90%;margin-left:5%;margin-right:5%">
                <div class="field" style="max-width:50%">
                    <label for="text">Username</label>
                    <input name="usernada" id="text" type="text" placeholder="Username">
                </div>
                <div class="field" style="max-width:50%">
                    <label for="password">Password</label>
                    <input name="password" id="password" type="password" placeholder="Password">
                </div>
                <ul class="actions">
                    <li><input value="Log in" class="button alt" type="submit"></li>
                </ul>
            </form>
        </div>
    </div>
    <div class="copyright">
        &copy; Olivia
    </div>
</footer>

