
modelacao/.aconzinha.vpp.lck
modelacao/aconzinha.vpp.bak_000f
modelacao/a_cozinha.vpp.bak_000f
*.bak_001d
*.bak_000f
*.lck
relatorio/~$latorio.doc
relatorio/~WRL0918.tmp
Olivia/Olivia/bin/*
Olivia/Olivia/obj/*
/Olivia/.vs/Olivia/v15/Server/*
/Olivia/.vs/Olivia/v16/Server/sqlite3
*.ide
Olivia/.vs/Olivia/DesignTimeBuild/.dtbcache
Olivia/.vs/Olivia/v16/.suo
Olivia/.vs/Olivia/v16/Server/sqlite3/storage.ide
