@model Olivia.Models.Utilizador
@{
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="height: 200px; background-image: url(/layout/assets/img/wallpaperLoggedin.jpg); background-size: cover; background-position: center;">
    <div id="textContainer" style="margin-left:3%">
        <p>
            <h1 style="font-size:54px;" class="retroshadow"> Edit Profile </h1>
        </p>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="nav-wrapper" style="margin-top: 10%; margin-right: 50%">
        <form action="ProfileEdited" method="post">
            <input type="hidden" name="uid" value="@ViewBag.User.Id_utilizador">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Full name:</span>
                </div>
                <input class="form-control" type="text" name="uname" value="@ViewBag.User.Nome" id="example-text-input">
            </div>
            <div class="input-group" style="margin-top:3%">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email:</span>
                </div>
                <input class="form-control" type="email" name="uemail" value="@ViewBag.User.Email" id="example-search-input">
            </div>

            <div class="input-group" style="margin-top:3%">
                <div class="form-group">
                    <select class="form-control" name="upref">
                        <option value="1"> Main Dish</option>
                        <option value="2"> Desert </option>
                        <option value="3"> Appetizer </option>
                        <option value="4"> Vegeterian </option>

                    </select>
                </div>
            </div>

            <div style="margin-top:-1%">
                <button type="submit" class="btn btn-olivia bg-gradient-olivia">Update</button>
            </div>
        </form>
    </div>
</div>





