@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutMainMenuSubs.cshtml";
}

<footer id="footer" style="max-height:100%">
    <h2 style="font-size: 72px">Sign In</h2>
    <div style="margin-left:40%">
        <form action="#" method="post" style="max-width:30%">
            <div class="field">
                <label for="text">Username</label>
                <input name="usernada" id="text" type="text" placeholder="Username">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input name="password" id="password" type="password" placeholder="Password">
            </div>
            <ul class="actions" style="margin-left:30%">
                <li><input value="Log in" class="button alt" type="submit"></li>
            </ul>
        </form>
    </div>
    <div class="copyright">
        &copy; Olivia
    </div>
</footer>
