@{
    Layout = "~/Views/Shared/_LayoutMainMenuSubs.cshtml";
}
<footer id="footer" style="max-height:100%">
    <h2 style="font-size: 72px">Sign Up</h2>
    <div style="margin-left:40%">
        <form action="#" method="post" style="max-width:30%">
            <div class="field">
                <label for="text">Username</label>
                <input name="usernada" id="text" type="text" placeholder="Username">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input name="password" id="password" type="password" placeholder="Password">
            </div>
            <div class="field">
                <label for="name">Name</label>
                <input name="name" id="name" type="text" placeholder="Name">
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="Email">
            </div>
            <ul class="actions" style="margin-left:30%">
                <li><input value="Register" class="button alt" type="submit"></li>
            </ul>
        </form>
    </div>
    <div class="copyright">
        &copy; Olivia
    </div>
</footer>
