@{
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
</script>

<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="height: 200px; background-image: url(/layout/assets/img/wallpaperLoggedin.jpg); background-size: cover; background-position: center;">
    <div id="textContainer" style="margin-left:3%">
        <p>
            <h1 style="font-size:54px;" class="retroshadow"> Generating your 7 day plan </h1>
        </p>
    </div>
</div>
<div class="container-fluid mt--7">

</div>